:root {
  color-scheme: light dark;

  --bg-color: #eaeaea;
  --fg-color: #242424;

  --btn-suggested-bg-color: #3385ff;
  --btn-suggested-fg-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242424;
    --fg-color: #eaeaea;

    --btn-suggested-bg-color: #79a8ee;
    --btn-suggested-fg-color: #242424;
  }
}

body {
  margin: 0;

  box-sizing: border-box;

  background-color: var(--bg-color);

  color: var(--fg-color);
}

h1 {
  text-align: center;
}

.content {
  flex: 1;

  min-height: 90vh;

  display: flex;
  justify-content: center;
}

.settings-area {
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.grid-size-label::after {
  content: 'Grid Size';

  display: block;

  font-size: 0.7rem;
}

.drawing-grid {
  padding: 1em;

  min-width: 960px;
  min-height: 960px;

  border: 2px solid var(--fg-color);

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.pixel-row {
  display: flex;
  gap: 1px;
}

.pixel {
  background-color: var(--fg-color);
}

.pixel:hover {
  background-color: var(--bg-color);
}

.painted {
  background-color: var(--bg-color);
}

.btn {
  padding: 0.5em 0.75em;

  border-radius: 16px;
  border-style: none;

  background-color: var(--fg-color);

  color: var(--bg-color);

  cursor: pointer;
}

.btn:hover {
  filter: contrast(3);
}

.btn:active {
  transform: scale(0.95);
}

.btn-suggested {
  background-color: var(--btn-suggested-bg-color);

  color: var(--btn-suggested-fg-color);
}

footer {
  padding: 2em;
  margin-top: 1em;

  background-color: var(--fg-color);

  color: var(--bg-color);
}

footer * {
  text-align: center;
}